@font-face {
    font-family: 'Webly Sleek Light';
    src: url('../assets/fonts/weblysleekuil.woff2') format('woff2'),
         url('../assets/fonts/weblysleekuil.woff') format('woff'),
         url('../assets/fonts/weblysleekuil.ttf') format('truetype');
}
@font-face {
    font-family: 'Webly Sleek SemiLight';
    src: url('../assets/fonts/weblysleekuisl.woff2') format('woff2'),
         url('../assets/fonts/weblysleekuisl.woff') format('woff'),
         url('../assets/fonts/weblysleekuisl.ttf') format('truetype');
}

@font-face {
    font-family: 'Webly Sleek SemiBold';
    src: url('../assets/fonts/weblysleekuisb.woff2') format('woff2'),
         url('../assets/fonts/weblysleekuisb.woff') format('woff'),
         url('../assets/fonts/weblysleekuisb.ttf') format('truetype');
}